<h1>Seja bem-vindo!</h1>

<ul>
  <li><a href="https://rails-jacksonpires.c9users.io/kinds">Tipos</a></li>
  <li><a href="https://rails-jacksonpires.c9users.io/contacts">Contatos</a></li>
  <li><a href="https://rails-jacksonpires.c9users.io/addresses">Endereços</a></li>
  <li><a href="https://rails-jacksonpires.c9users.io/phones">Telefones</a></li>
</ul>
